#menuWrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    overflow: hidden;
    transition: width 0.5s;

    height: 100vh;
    width: 50px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#menuButton {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;

    width: 30px;
    height: 30px;

    border: none;
    margin: 10px;
}

#menuIcon {
    color: gray;
    text-align: center;
}

#menuOptions a,
button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

button:hover {
    cursor: pointer;
}

.menuOption {
    display: inline-block;
    padding: 10px 20px 10px 15px;
}

#menuOptions a:hover,
#menuOptions button:hover {
    background-color: #f0f0f0;
}

#pages-wrapper>a,
#pages-wrapper hr {
    display: none;
    transition: opacity 2s ease;
}

#pages-wrapper {
    display: flex;
    flex-direction: column;

    height: 0px;
    overflow: hidden;

    transition: height 2s ease;
}

#pages-wrapper span {
    float: right;
    padding: 0px;
}

.page-links {
    padding: 10px 20px 10px 15px;
}

.sublinks {
    display: none;
    padding: 10px 20px 10px 30px;
}

#darkmode {
    border: none;
    background-color: transparent;
    width: 170px;

    font: 18px 'Lato';
}

#darkmode span {
    padding-left: 11px !important;
}

.content {
    display: flex;
    flex-direction: column;
    transition: padding-left 0.5s;
}

.content header {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    padding: 0px;
}

.content h1 {
    margin-bottom: 0px;
}

.content h1 span {
    color: #dc143c;

}

.content h2 {
    font-family: 'Poppins-semiBold';

    margin-top: 0px;
}