@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-woff/Lato-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Cormorant_Garamond-italic';
    src: url('../fonts/CormorantGaramond-woff/static/CormorantGaramond-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Poppins-semiBold';
    src: url('../fonts/Poppins-woff/Poppins-SemiBold.woff') format('woff');
}

body {
    display: flex;
    justify-content: center;

    color: black;

    width: 100vw;
    height: 100vh;

    margin: 0;
}

.content {
    padding-left: 70px;
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
    flex-direction: column;

    margin-bottom: 20px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    transition: transform 0.3s ease-in-out;
    text-decoration: underline;
}

footer a:visited {
    color: black;
}